.header-nav__toggle {
  position: absolute;
  right: 15px;
  top: 19px;
  background-color: #ffff;
  border: none;
  cursor: pointer;
}

.header-nav__toggle::before {
  content: url('../../images/Logo_mobile.svg');
}

.header-nav__list {
  position: absolute;
  top: 67px;
  z-index: 10;
   width: 100%;
   padding: 0;
  background: #FFF;
  line-height: 20px;
  list-style: none;
  font-family: oswald;
  font-size: 20px;

}

.header-nav__item {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-top: 1px solid #E6E6E6;
}

.header-nav__item a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
