.main-header {
  position: relative;
  padding-top: 67px;
  line-height: 27px;
  font-family: oswald;
  font-size: 18px;
}

.main-header__logo-image {
  position: absolute;
  left: 20px;
  top: 13px;
}

.main-header__logo-desc {
  position: absolute;
  left: 109px;
  top: 23px;
}
