.products {
  width: 280px;
}

.products__list {}

.products__item {
    width: 100%;
  min-height: 266px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #F2F2F2;
  list-style: none;
}

.products__item--slim {
  position: relative;
}

.products__item--slim .products__title::after {
  content: url('../../images/cat-slim.svg');
  position: absolute;
  left: 27px;
  top: 21px;
}

.products__item--pro {
  position: relative;
}

.products__item--pro .products__title::after {
  content: url('../../images/cat-pro.svg');
  position: absolute;
  left: 14px;
  top: 34px;
}

.products__title {
  padding-top: 23px;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #000;
  text-transform: uppercase;
  font-family: oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
}

.products__title::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: -15px;
  border-radius: 50%;
  background-color: #68B738;
}

.products__description {
  width: 240px;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 20px;
  color: #444;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #D9D9D9;
  ;
}

.products__link {
  display: inline-flex;
  gap: 15px;
  padding: 4px 0px;
  margin-top: 17px;
  margin-left: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  font-family: oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;


}

.products__link::after {
  content: url('../../images/icon_arrow.svg');
}
